{% extends 'base.html' %}

{% block title %}
Авторизація користувача
{% endblock %}

{% block content_title %}
Авторизація користувача
{% endblock %}

{% block body %}

<main class="px-3">
  <h2>Введіть дані</h2>
<form name="authorization" method="post" >
  <p>Email<input type="email" name="email" required/><br>
  Пароль<input type="password" name="password" required/><br>

  <p><input type="submit" value="Увіти"></p>
</form>
</main>
{% endblock %}
