{% extends 'base.html' %}

{% block title %}
Реєстрація користувача
{% endblock %}

{% block content_title %}
Реєстрація користувача
{% endblock %}

{% block body %}
<main class="px-3">
  <h1>Введіть реєстраційні дані</h1>
<form name="register_data" method="post" >
  <p>Email<input type="email" name="email" required/><br>
  Пароль<input type="password" name="password" required/><br>
  Ім'я<input type="text" name="name" required/><br>
  Прізвище<input type="text" name="sname"/><br></p>
  <p>Чоловік<input type="radio" name="gender" value="male"/><Br>
  Жінка<input type="radio" name="gender" value="female"/></p>
  Файл аватарки<input type="file" name="avatar"/>
  <p><input type="submit"></p>
</form>
</main>
{% endblock %}
