{% extends 'base.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block content_title %}
Головна сторінка
{% endblock %}

{% block body %}

{{ for city in cities }}
<h2>{{ city.name }}</h2>
<p>{{ city.country }}</p>
<p>{{ city.region }}</p>
<p>{{ city.district }}</p>
<p>{{ city.kind }}</p>
{{ end for }}

{% endblock %}
