{% extends 'base.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block content_title %}
Головна сторінка
{% endblock %}

{% block body %}

<main class="px-3">
  <h1>Вітаємо на форумі "Міста України"</h1>
  <p class="lead">Тут ви зможете почитати відгуки про різні міста України та залишити свій відгук</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
  </p>
</main>

{% endblock %}
